{% extends "home.html" %}

{% block title %} Resultados Salvos {% endblock %}

{% block extra_css_home %}
    <link rel="stylesheet" href="/static/css/consult.css">
{% endblock %}

{% block content_home %}
    <div class=overlay>
        <div class="content">
            {% if results %}
                <div class="cards-container">
                    {% for result in results %}
                        <div class="result-card">
                            <div class="card-body">
                                <h3>{{ result.name }}</h3>
                                <p><strong>Lucro Máximo:</strong> R$ {{ "%.2f"|format(result.gross_profit) }}</p>
                                <p><strong>Lucro Líquido:</strong> R$ {{ "%.2f"|format(result.net_profit) }}</p>
                                <p><strong>Usuário: {{ result.username }}</strong></p>
                            </div>
                            <div class="card-actions">
                                <form method="get" action="{{ url_for('consult.view_result', result_id=result.id) }}">
                                    <button type="submit" class="btn-view">Visualizar</button>
                                </form>
                                <form method="post" action="{{ url_for('consult.delete_result', result_id=result.id) }}" onsubmit="return confirm('Tem certeza que deseja deletar este resultado?');">
                                    <button type="submit" class="delete-btn">Deletar</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
