{% extends "index.html" %}

{% block title %} Login {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/login-style.css">
{% endblock %}

{% block content %}
    <div class="box-login">
        {% set msg = get_flashed_messages() %}
        {% if msg %}
            <div id="alert">
                {{ msg[0] }}
            </div>
        {% endif %}
        <h1>Bem-Vindo</h1>
        <div class="content">
            <form action="/autentication" method="POST">
                <div>
                    <label for="username">Usuário:</label>
                    <input type="text" name="username" id="username" placeholder="usuário" required>
                </div>
                <div>
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" placeholder="senha" required>
                </div>
                <div>
                    <input type="submit" id="btn-submit" value="Entrar">
                </div>
                <div class="div-links">
                    <a href="/register-user">Cadastrar novo usuário</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
