{% extends "index.html" %}

{% block title %} Login {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/login-style.css">
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="cadastro-container">
        <img src="/static/img/icon-icecream.png" alt="Logo da Empresa">

        {% set msg = get_flashed_messages() %}
        {% if msg %}
            <div class="alert">
                {{ msg[0] }}
            </div>
        {% endif %}

        <div class="form-section">
            <h2>Bem-Vindo</h2>
            <form action="/autentication" method="POST">
                <div class="grupo_input">
                    <label for="username">Usuário:</label>
                    <input type="text" name="username" id="username" placeholder="usuário" required>
                </div>

                <div class="grupo_input">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" placeholder="senha" required>
                </div>

                <div class="botoes">
                    <button type="submit">Entrar</button>
                </div>
            </form>

            <div class="div-links" style="margin-top: 15px; text-align: center;">
                <a href="/register-user" style="color: #ffffff; text-decoration: underline;">Cadastrar novo usuário</a>
            </div>
        </div>
    </div>
{% endblock %}