<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nomes</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/names.css">
    <link rel="stylesheet" href="/static/css/aside.css">
    <link rel="icon" href="/static/img/icon-icecream.png">
</head>
<body>
    <aside>
        <img src="/static/img/icon-icecream.png" alt="Logo Sorveteria">
        <h2>Sorveteria da Praça</h2>
        <nav>
            <ul>
                <li>
                    <a href="/home">
                        <button>Início</button>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <button id="btn-leave">Sair</button>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="content">
        <h1>Especifique os nomes</h1>
        <form action="/values" method="POST">
            <div class="form-group">
                <div>
                    <h2>Produtos</h2>
                    {% for i in range(session.num_variables) %}
                        <label for="variable{{ i }}">Nome do {{ i+1 }}º Produto:</label>
                        <input type="text" name="variable{{ i }}" id="variable{{ i }}" required>
                    {% endfor %}
                </div>
                <div>
                    <h2>Insumos</h2>
                    {% for i in range(session.num_restrictions) %}
                        <label for="restriction{{ i }}">Nome do {{ i+1 }}º Insumo:</label>
                        <input type="text" name="restriction{{ i }}" id="restriction{{ i }}" required>
                    {% endfor %}
                </div>
            </div>
            <div class="div-btn">
                <button type="submit">Continuar</button>
            </div>
        </form>
    </div>
</body>
</html>