<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/values.css">
    <link rel="stylesheet" href="/static/css/aside.css">
    <link rel="icon" href="/static/img/icon-icecream.png">
</head>
<body>
    <aside>
        <img src="/static/img/icon-icecream.png" alt="Logo Sorveteria">
        <h2>Sorveteria da Praça</h2>
        <nav>
            <ul>
                <li>
                    <a href="/home">
                        <button>Início</button>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <button id="btn-leave">Sair</button>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="content">
        <h1>Insira os Valores</h1>
        <form action="/result" method="POST">
            <div class="information">
                <h2>Valor Unitário dos produtos</h2>
                <div class="products-values">
                {% for i in range(session.num_variables) %}
                    <label for="price_x{{ i }}">{{ session.variable_names[i] }}:</label>
                    <input type="text" name="price_x{{ i }}" id="price_x{{ i }}" required>
                {% endfor %}
                </div>
                {% if session.optimization_type == 'minimization' %}
                <h2>Mínimo necessário de produção para</h2>
                <div class="products-values">
                {% for i in range(session.num_variables) %}
                    <label for="min_x{{ i }}">{{ session.variable_names[i] }}:</label>
                    <input type="text" name="min_x{{ i }}" id="min_x{{ i }}" required>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="information">
                <h2>Insumos</h2>
                {% for i in range(session.num_restrictions)%}
                    <div class="restrictions-values">
                        <h3>{{ session.restriction_names[i] }}</h3>
                        <select name="type_y{{ i }}" id="type_y{{ i }}" required>
                            <option value="">Selecione...</option>
                            <option value="unidade">Unidade</option>
                            <option value="L">Litro</option>
                            <option value="kg">Kg</option>
                            <option value="g">Gramas</option>
                            <option value="Hrs">Horas</option>
                            <option value="min">Minutos</option>
                        </select>
                        <div>
                            <label for="available_quantity_y{{ i }}">Quantidade disponível:</label>
                            <input type="text" name="available_quantity_y{{ i }}" id="available_quantity_y{{ i }}" required>
                        </div>
                        {% for j in range(session.num_variables) %}
                            <div>
                                <label for="necessary_y{{ i }}_for_x{{ j }}">Necessário para {{ session.variable_names[j] }}:</label>
                                <input type="text" name="necessary_y{{ i }}_for_x{{ j }}" id="necessary_y{{ i }}_for_x{{ j }}" required>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="btn-div">
                <button type="submit">Resolver</button>
            </div>
        </form>
    </div>
</body>
</html>