<aside>
    <img src="/static/img/icon-icecream.png" alt="Logo Sorveteria">
    <h2>SORMAX</h2>
    <nav>
        <ul>
            <li>
                <a class="btn-aside" href="/home">
                    Início
                </a>
            </li>
            <li>
                <form action="/quantity" method="POST">
                    <button class="btn-aside" type="submit" name="optimization_type" value="maximization">Maximização</button>
                </form>
            </li>
            <li>
                <a class="btn-aside" href="/register-products">
                    Cadastro
                </a>
            </li>
            <li>
                <a class="btn-aside" href="/consult">
                    Consultas
                </a>
            </li>
            <li>
                <a class="btn-aside" href="/logout" id="btn-leave">
                    Sair
                </a>
            </li>
        </ul>
    </nav>
</aside>