<div id="modal-category" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>

    <h2 id="msg-category">Categoria</h2>
    <form id="form-delete" class="form-delete" method="POST" action="/delete-category" onsubmit="return confirm('Tem certeza que deseja deletar este resultado?');">
      <input type="hidden" name="category_id_remove" id="category_id_remove">
        <button type="submit" >Deletar Categoria</button>
    </form>
    <form id="form-category" class="form-category" method="POST" action="/register-category">
      <input type="hidden" name="category_id" id="category_id">

      <label for="category">Nome da Categoria:</label>
      <input type="text" name="category" id="category" placeholder="Nome da Categoria" required>

      <label for="days_production">Dias de produção:</label>
      <input type="number" name="days_production" id="days_production" placeholder="Tempo que a produção vai durar" required><hr>

      <div id="restrictions">
        <!-- Aui é criado dinâmicamente pelo js -->
      </div>

      <button type="button" onclick="addRestriction()">+ Adicionar Insumo</button>
      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
