<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximizar Lucro</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="/static/img/LOGOSORVETE.png">
</head>
<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <div class="logo">
                <img src="../static/img/LOGOSORVETE.png" alt="Logo Sorvetes Mococa">
                <h2>Sorvetes Mococa</h2>
            </div>
            <nav class="menu">
                <a href="/">Inicio</a>
                <a href="/graph">Gráfico</a>
            </nav>
        </aside>

        <!-- Conteúdo principal -->
        <main class="content">
            <button style="width: 400px; height: 80px;" id="btn-show" onclick = "showContent()" >Começar</button>
            <div class="form-container" style="display: none;">
                <h1 class="screen-title">Quantidade para Maximização</h1>
                <form action="/optimize" method="POST">
                    <div class="form-group">
                        <label for="num_variables">Número de Sorvetes/Picolés:</label>
                        <input type="number" id="num_variables" name="num_variables" required>
                    </div>
                    <div class="form-group">
                        <label for="num_constraints">Número de Restrições:</label>
                        <input type="number" id="num_constraints" name="num_constraints" required>
                    </div>
                    <div class="form-buttons">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
<script>
    function showContent() {
        let form = document.querySelector('.form-container');
        form.style.display = 'block';

        let btn = document.querySelector('#btn-show');
        btn.style.display = 'none';
    }
</script>
</html>
