aside {
    background-color: #024796;
    color: white;
    width: 250px;
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
}
aside img {
    width: 100px;
}
aside h2 {
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 40px;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
li, form {
    width: 100%;
}
.btn-aside {
  text-align: center;
  padding: 5px 40px;
  border: 1px solid #00000071;
  background-color: #0000cd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  transition: transform 0.2s ease;
   display: inline-block;
}
.btn-aside:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 0, 0.527);
}
#btn-leave {
    background-color: #972d1b;
}
#btn-leave:hover {
    transform: scale(1.01);
    background-color: rgba(194, 10, 10, 0.527);
}

header {
    position: absolute;
    top: 15px;
    right: 260px;
    background-color: #024796;
    border-radius: 5px;
    display: none;
    flex-direction: row-reverse;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

#menu-header {
    margin: 20px 53px 20px 10px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 220%;
    background-color: #fff;
    display: block;
    /* transition: 0.3s ease; */
    margin: 10px;
}

.change {
    right: 15px;
}

.content-show {
    display: flex;
}

@media screen and (max-width: 700px) {
    aside {
        display: none;
    }

    header {
        display: block;
    }
}
